$mobile: 769px;
$phone: 550px;
$portrait-up: 920px;
$landscape: 900px;
$desktop: 1350px;
$big-desktop: 1720px;
$galaxy-up: 415px;
$mob-down: 412px;
$galaxy: 410px;
$fold: 290px;
$big: 2200px;
$nest: 1030px;